.App {
  height: 91.5vh;
  width: 100%;
  flex-direction: "row";
}

.mainDiv {
  width: "100%";
  display: flex;
  flex-direction: row;
}

.formdiv {
  height: "100%";
  align-items: center;
  justify-content: center;
  color: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
